* {
    box-sizing: border-box;
}

body {
    background-color: #f5f5f5 ;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

ul.sidenav, h2, .row.header, .row.header_main, .timeline-item:after {
    background-color: #2eca7f;
}

h2 {
 color: white;
}

.container {
    flex: 1 0 auto;
   
}

.wrapper {
    border-radius: 15px;
    box-shadow: 0px 15px 25px 0px;
    overflow: hidden;
    margin: 10px auto;
    position: relative;
}

.wrapper .row {
margin-bottom: 0;
}

.row.header .col {
    height: 25vh;
}

.col.l6 {
    padding-bottom: 3em;
}

.row.header {
text-align: center;
}

.row.header_main {
    height: auto;
    padding: 2vh;
}

strong {
    color: #2eca7f;
}
/* Home */
@keyframes bouncing {
    0% { bottom: 0;  color: #a73b10; letter-spacing: 2px;}
    100% { bottom: 50px; }
}
@keyframes scaling {
    0% { transform: scale(1);}
    25% { transform: scale(1.5);}
    50% { transform: scale(2);}
    75%  { transform: scale(1.5);}
    100% { transform: scale(1);}
}
@keyframes translating{
    0% { transform: translateY(0);}
    50% {transform: translateY(50px);}
    100% { transform: translateY(0);}
}

nav ul a, .brand-logo a, nav a {
    color:  #49515d;
}
.bouncing1.white-text{
    animation: bouncing 3s cubic-bezier(0.1,0.25,0.2,1) 0s infinite alternate both;
    border-radius: 8px;
}
.portret:hover {
   /* animation: bouncing 2s cubic-bezier(0.1,0.25,0.2,1) 0s 1 alternate none;*/
   /* animation: scaling 10s steps(1) 0s 1;*/
   animation: translating 4s linear infinite;
    
}

.portret {
    width: 280px;
    height: auto;
    margin: 10px;
    border: 3px solid #fff;
    box-shadow: 0px 3px 8px 0px;
    vertical-align: bottom;
    position: relative;
}

img.responsive-img {
 width: 90%;
 min-width: 25vw;
}

span.title {
    display: inline-block;
    min-width: 120px;
}

.info-list {
    margin-top: 50px;
}

/* Blog */
.btn-floating i {
    color: #bdbdbd;
}
.card .card-image img {
    height: 30vh;
}
/* Resume */
.timeline {
    border-left: 2px solid #e0e0e0;
    padding: 15px 0;
}

.timeline-item {
    position: relative;
    padding: 15px 20px 10px;
    margin-left: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    border-left: 2px solid #2eca7f;
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.2);
}

.timeline-item:before {
    content: '';
    display: inline-block;
    position: absolute;
    background-color: #fff;
    border-radius: 10px;
    width: 12px;
    height: 12px;
    top: 20px;
    left: -29px;
    border: 2px solid #2eca7f;
    z-index: 2;
}

.timeline-item:after {
    content: '';
    display: inline-block;
    position: absolute;
    border-radius: 10px;
    width: 29px;
    height: 2px;
    top: 25px;
    left: -29px;
    z-index: 1;
}

.item-small {
    border-left: 2px solid #e0e0e0;

}
