* {
    box-sizing: border-box;
}
.wrapper {
    background-color: blue;
    padding: 20px;
    height:auto;
    display: inline-block;
    
}
fieldset {
    position: relative;
    
}
table {
    border-spacing: 2vw;
    table-layout: fixed;
    width: 90%;
}
td, th, legend {
    color: white;
}
th {
    text-align: right;
    vertical-align: top;
}
.input_text, form {
    width: 90%;
}


p .button {
    vertical-align: middle;
    height: 3em;
    width: 3em;
    border-radius: 20px;
    background-color: greenyellow;
}
span.i {
    font-size: x-large;
    color: white;
}
p {
    text-align: center;
    color: white;
}
textarea {
    height: 3em;
    
}
