/* {
    box-sizing: border-box;
}
*/
body {
    background-color: #f5f5f5 ;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
nav ul a, .brand-logo a, nav a {
    color:  #49515d;
}
ul.sidenav {
    background-color: #2eca7f;
}
h2{
 color: white;
 background-color: #2eca7f;
}
h5 {
    animation: bouncing 2s cubic-bezier(0.1,0.25,0.2,1) 0s infinite alternate both;
    position: relative;
}


.container {
    flex: 1 0 auto;
   
}
.wrapper {
    border-radius: 15px;
    box-shadow: 0px 15px 25px 0px;
    overflow: hidden;
    margin: 10px auto;
    position: relative;
}

.wrapper .row {
margin-bottom: 0;}
.row.header .col {
    height: 25vh;
}
.col.l6 {
    padding-bottom: 3em;
}
.row.header {
text-align: center;
background-color: #2eca7f;
}
.row.header_main{
    height: 40vh;
    background-color: #2eca7f;
}
strong {
    color: #2eca7f;
}/*
.brand-logo p {
    color: #49515d;
    display: inline;

}

a:hover {
    color: #49515d;
}
nav ul a::after {
    
    display: block;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    content: '';
    width: 0;
    height: 2px;
    margin: 0 auto;
    background-color: #2eca7f;
}
/*MAIN*//*
.page-main {
    margin: 0 auto;
    max-width: 1032px;
    width: 100%;
}*/
    
   
/*
.page-header {
    position: relative;
    padding: 50px;
    background-color: #2eca7f;
    margin-bottom: 25px;
}
.row {
    margin-left: -15px;
    margin-right: -15px;
}*/
@keyframes bouncing {
    0% { bottom: 0;  color: #a73b10; letter-spacing: 2px;}
    100% { bottom: 50px; }
}
@keyframes scaling {
    0% { transform: scale(1);}
    25% { transform: scale(1.5);}
    50% { transform: scale(2);}
    75%  { transform: scale(1.5);}
    100% { transform: scale(1);}
}
@keyframes translating{
    0% { transform: translateY(0);}
    50% {transform: translateY(50px);}
    100% { transform: translateY(0);}
}
.h5.flow-text.white-text{
    animation: bouncing 3s cubic-bezier(0.1,0.25,0.2,1) 0s infinite alternate both;
    border-radius: 8px;
}
.portret:hover {
   /* animation: bouncing 2s cubic-bezier(0.1,0.25,0.2,1) 0s 1 alternate none;*/
   /* animation: scaling 10s steps(1) 0s 1;*/
   animation: translating 4s linear infinite;
    
}
.portret {
    width: 280px;
    height: auto;
    margin: 10px;
    border: 3px solid #fff;
    box-shadow: 0px 3px 8px 0px;
    vertical-align: bottom;
    position: relative;
}
img.responsive-img {
 width: 90%;
 min-width: 25vw;
}
span.title {
    display: inline-block;
    min-width: 120px;
}
.info-list {
    margin-top: 50px;
}
/*carousel
.carousel {
    height: 4em;
}
.carousel-item {
    height: 2em;
    display: inline;
}
/*
.social-links a {
    display: inline-block;
    width: 36px;
    height: 36px;
    border-radius: 24px;
    background-color: #fff;
}*/

.btn-floating i {
    color: #bdbdbd;
}
.card .card-image img {
    height: 30vh;
}
